{% load static %}
<meta charset="UTF-8">
<meta content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="{% static 'assets/img/huella1.png' %}">
<link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/comments.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/about.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/user.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/places.css' %}">
<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">