{% load static %}

<nav class="navbar navbar-expand-lg t-3" style="background-color: #98f1dc ;">
    <div class="container-fluid" style="display: flex;">
    <a class="navbar-brand" href="/">
      <img src="{% static 'assets/img/huella1.png' %}" alt="" width="40" height="35"
        class="d-inline-block align-text-top">
      DataPets
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Acerca de nosotros
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/que_es_datapets/">¿Qué es DataPets?</a></li>
            <li><a class="dropdown-item" href="/donde_encontrarnos/">¿Dónde encontrarnos?</a></li>
            <li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">El amor a las mascotas</a>
        </li>
        
      </ul>
      <li class="nav-itemv" style="display:flex;" >
        <a class="nav-link" href="{% url 'user:user' %}" style="position: relative; top: 5px; left: -5px;" >
          ¡Hola {{ user.username }}!
        </a> 
        <a  type="button" class="btn btn-success">Cerrar Sesión</a>
      </li>
      

    </div>
    
</div>
</nav>
