{% extends 'layout.html' %}
{% load static %}
{% block title %}¿Qué es DataPets?{% endblock title %}


{% block main %}

<div class="H-1" >
    <div> 
        <img src="{% static 'assets/img/perro1.jpeg' %}" class="img-fluid mx-auto d-block perro1" alt="...">
        <br>
        <p class="fw-semibold">¡Hola! DataPets es un espacio dedicado para aquellas personas que somos amantes de los animales y nos encanta compartir tiempo de calidad con nuestras mascotas! ¡Con DataPets podrás estar al tanto de los sitios o establecimientos donde podemos entrar y compartir con nuestros peludos! Además, podrás registrarte para encontrar información detallada de estos lugares y de paso dejar tu reseña para que más PetLovers puedan tener la seguridad de ir con sus peluditos. </p>
        <br>
        <br>


    </div>
</div>


{% endblock main %}
    