{% extends 'layout.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'assets/css/about.css' %}">
{% endblock link %}

{% block main %}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias voluptatum odit adipisci velit. Animi amet neque accusamus distinctio commodi laborum minima quis odio. Fugit officiis ab doloribus? Aspernatur, animi officiis.</p>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni dolorum, accusantium explicabo ducimus iusto corporis, dolorem doloremque fuga omnis, eligendi debitis placeat laborum maxime earum reprehenderit ullam. Expedita, consectetur quos.</p>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni dolorum, accusantium explicabo ducimus iusto corporis, dolorem doloremque fuga omnis, eligendi debitis placeat laborum maxime earum reprehenderit ullam. Expedita, consectetur quos.</p>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni dolorum, accusantium explicabo ducimus iusto corporis, dolorem doloremque fuga omnis, eligendi debitis placeat laborum maxime earum reprehenderit ullam. Expedita, consectetur quos.</p>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni dolorum, accusantium explicabo ducimus iusto corporis, dolorem doloremque fuga omnis, eligendi debitis placeat laborum maxime earum reprehenderit ullam. Expedita, consectetur quos.</p>
    <br>
{% endblock main %}