{% extends 'layout.html' %} {% load static %} 
{% block head %}
<title>¿Qué es DataPets?</title>
{% endblock head %} 

{% block main %}

<p class="text-center-title tcolor">Acerca de Nosotros</p>

<div class="container H-1">
  <div class="row pd-5">
    <p class="fw-semibold col-md-6">
      ¡Hola! DataPets es un espacio dedicado para aquellas personas que somos
      amantes de los animales y nos encanta compartir tiempo de calidad con
      nuestras mascotas. Con DataPets podrás estar al tanto de los sitios o
      establecimientos donde podemos entrar y compartir con nuestros peludos.
      Además, podrás registrarte para encontrar información detallada de estos
      lugares y de paso dejar tu reseña para que más PetLovers puedan tener la
      seguridad de ir con sus peluditos.
    </p>
    <div class="video col-md-6">
      <iframe
        width="100%"
        height="100%"
        src="https://www.youtube.com/embed/E6UKNqPXkew"
        title="DATAPETS - MISION TIC 2022, RUTA 2 - UTP, GRUPO 50."
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>

{% endblock main %}
