{% extends 'layout.html' %}
{% load static %}
{% block title %}DataPets{% endblock title %}
  

{% block main %}

{% include 'main/index/carousel.html' %}

<div class="FC1 mx-1">
  <div class="p-3">
    <h1>¿Buscando el lugar ideal para ir con tú mascota?</h1>
    <p class="text-start2">¡Hola! Aqui en DataPet podrás obtener información de aquellos establecimientos donde podrás
      entrar con tu mascota!</p><br>
    <p class="text-start2">Ey! Recuerda registrarte para tener acceso a la búsqueda detallada para ir a esos lugares
      especiales con tu mascota</p>
  </div>

  {% include 'user/login.html' %}

</div>

<h1 class="pt-5" style="font-style:italic; font-family: cursive;">Reseñas</h1><br>

{% include 'main/index/reviews.html' %}

{% endblock main %}