<form method="post">
    {% csrf_token %}
    <div class="card w-100">
        <div class="row">
            <div class="col-2">
                <img src="/media/{{ user.profile.profile_picture }}" width="70" class="rounded-circle mt-2">
            </div>
            <div class="col-10">
                <div class="comment-box ml-2">
                    <h4>Añade un comentario</h4>
                    <div class="comment-area">
                        {{ form.review_text }}
                    </div>
                    <div class="comment-btns mt-2">
                        <div class="row">
                            <div class="col-6 send" style="text-align: right;">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-success send btn-sm">Enviar <i
                                            class="fa fa-long-arrow-right ml-1"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>