{% extends 'layout.html' %}
{% load static %}
{% block title %}¿Dónde encontrarnos?{% endblock title %}


    
{% block main %}
<br>
    <p class="text-center ab2"> Recuerda registrarte y seguirnos en nuestras redes sociales. </p>
<br>
    <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
        <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
          style="border:0" allowfullscreen></iframe>
      </div>
    
    <br>
   
{% endblock main %}