{% extends 'layout.html' %}
{% load static %}
{% block title %}¿Dónde encontrarnos?{% endblock title %}


    
{% block main %}
<br>
    <p class="text-center ab2"> Recuerda registrarte y seguirnos en nuestras redes sociales. </p>
<br>
    <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px; margin: 0 auto;">
        <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
          style="border:0 " allowfullscreen></iframe>
      </div>
      <br>
      <br>
      <p class="text-center" style="font-family: cursive; font-size:50px;" >Envia un mensaje!</p>
    <br>
<div class="container5">
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Nombres</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nombre">
      </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Correo Electrónico</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Deja aquí tu mensaje</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Enviar</button>
      </div>
</div>
{% endblock main %}