{% load static %}
<div class="FC2">
    <div class="FC2_2">
        <div class="FC2_1">
            <img src="{% static 'assets/img/senor1.jpg' %}" class="per">
            <p class="text-md-start p-2">Start aligned text on viewports sized MD (medium) or wider.</p>
        </div>
        <div class="FC2_1">
            <img src="{% static 'assets/img/Senora1.jpg' %}" class="per">
            <p class="text-md-start p-2">Start aligned text on viewports sized MD (medium) or wider.</p>
        </div>
    </div>
    <div class="FC2_2">
        <div class="FC2_1">
            <img src="{% static 'assets/img/senor2.jpg' %}" class="per">
            <p class="text-md-start p-2">Start aligned text on viewports sized MD (medium) or wider.</p>
        </div>
        <div class="FC2_1">
            <img src="{% static 'assets/img/senora2.jpg' %}" class="per">
            <p class="text-md-start p-2">Start aligned text on viewports sized MD (medium) or wider.</p>
        </div>
    </div>
</div>