{% load static %}
<div class="FC2">
    <div class="FC2_2">
        <div class="FC2_1">
            <img src="{% static 'assets/img/senor1.jpg' %}" class="per">
            <p class="text-md-start p-2"> "Hola! Fui a este lugar hace 2 semanas y fue la mejor experiencia! 100% recomendado"</p>
        </div>
        <div class="FC2_1">
            <img src="{% static 'assets/img/Senora1.jpg' %}" class="per">
            <p class="text-md-start p-2"> "Debo decir que tener una aplicación que permita saber donde puedes ir con tu mascota es lo mejor! Gracias!"</p>
        </div>
    </div>
    <div class="FC2_2">
        <div class="FC2_1">
            <img src="{% static 'assets/img/senor2.jpg' %}" class="per">
            <p class="text-md-start p-2">"Es una excelente manera de guiar y saber donde puedo ir con mi mascota para no dejarla sola en casa! Lo mejor DataPets"</p>
        </div>
        <div class="FC2_1">
            <img src="{% static 'assets/img/senora2.jpg' %}" class="per">
            <p class="text-md-start p-2"> "Me encanta! Siempre salgo con mi mascota y me gusta tener una aplicación donde puedo revisar nuevos lugares para visitar con mi peludita"</p>
        </div>
    </div>
</div>