{% load static %}
<div class="row g-3 FC2" style=" background-color: #ffffff;">
    {% for review in reviews %}
    <div class="col-md-12 col-lg-6 FC2_2 cursive">
        <div class="FC2_1">
            {% if review.user.profile.profile_picture %}
                <img src="{{ review.user.profile.profile_picture.url }}" alt="Avatar" class="per"/>
            {% else %}
                <img src="{% static 'assets/img/default.jpg' %}" alt="Avatar" class="per"/>
            {% endif %}
            <p class="text-md-start p-2 " style="color: #000;  ">
                <b>{{ review.user.first_name }}</b>
                <i>{{ review.pub_date }}</i>
                {{ review.review_text }}
            </p>
        </div>
    </div>
    {% endfor %}
</div>