.btn-outline-primary{
    background-color: aqua;
}

.container-fluid{
    background-color: rgb(255, 255, 255);
}

.ImagenPerros{
    position: relative;
    opacity: 0.3;
    width: 100%;
}
.per{
    width: 133px;
    height: 200px;
}
.FC1{
    display: flex; 
    margin-top: 8%;
    position: absolute;
    top: 0;   
    flex: 3 1 auto;
    text-align: center;
}

.FC2{
    width: 100%;
    display: flex;
    padding: 10px;
    position: relative;
    top: auto;
    background-color: black;
    flex: 1 1 auto;
}

h1{
  position: relative;
  text-align: center;
}

.FC2_1{
    display: flex;
    flex: 1 1 auto;
    width: 50%;
    padding: 1%;
}

.FC2_2{
    display: block;
    flex: 1 1 auto;
    width: 50%;
}


.text-center{
    font-size: 500%;
    color: rgb(0, 0, 0);
    text-shadow: 3px 3px 2px rgb(255, 255, 255);

}
.text-sm-start{
    text-align: center;
    color: white;
}
.text-start2{
    text-align: center;
    font-size: 200%;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px black;

}

.text-md-start{
  color: white;
}

.container{
    padding: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 20px 10px rgb(82, 82, 82);
  }
   
  .login-container{
    display: flex;
    width: 650px;
    height: auto;
    background: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
  }
   
  .register, .login{
    flex: 1;
  }
   
  .register{
    padding: 40px;
    position: relative;
  }
   
  .register h2{
    color: #797979;
    margin-bottom: 30px;
  }
   
  .register input{
    width: 100%;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 25px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 1px solid #a8a8a8;
    color: #333;
  }
  .login input{
    width: 100%;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 25px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 1px solid #a8a8a8;
    color: #333;
  }
   
  .login input:active,
  .login input:focus{
    outline: none;
  }
  .register input:active,
  .register input:focus{
    outline: none;
  }
   
  .register .submit{
    width: auto;
    padding: 10px;
    background: #f17108;
    color: #fff;
    font-size: 12px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
  }
   
  .register::after{
    content: 'A';
    position: absolute;
    width: 25px;
    height: 25px;
    top: 50%;
    right: -13px;
    padding: 0px;
    text-align: center;
    font-size: 19px;
    background: #f1f1f1;
    border-radius: 50%;
    transform: translateY(-50%);
    box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, .2);
    color: #7c7c7c;
  }
   
  .login{
    background-image: linear-gradient(to bottom right, #99f8d4, #0c00b6);
    padding: 40px;
  }
   
  .login h2{
    color: #fff;
    margin-bottom: 45px;
  }
   
  .login button i{
    position: absolute;
    top: 12px; 
    left: 12px;
  }
   
  .login button{
    width: 100%;
    margin: 15px 0px;
    padding: 10px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
    position: relative;
  }
   
  .login .fb{
    background: #3b5999;
    border-style: none;
    color: #fff;
    position: relative;
    top: 75px;
    box-shadow: 2px 4px 10px rgb(0, 0, 0) ;
  }
   
   
  @media only screen and (max-width: 540px){
    .login-container{
      display: block;
    }
   
    .register, .login{
      flex: none;
    }
   
    .register::after{
      top: unset;
      bottom: -25px;
      left: 50%;
      transform: translateX(-50%) rotate(90deg);
    }
  }

.bi {
      vertical-align: -.125em;
      fill: currentColor;
    }
