.btn-outline-primary {
  background-color: aqua;
}

.ImagenPerros {
  position: relative;
  opacity: 0.3;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}
.media{
  width: 80%;
  padding: 20px;
}

.per {
  height: 200px;
}
.FC1 {
  width: auto;
  position: relative;
  top: 0;
  display: flex;
  text-align: center;
  box-sizing: border-box;
}



h1 {
  position: relative;
  text-align: center;
}

.FC2_1 {
  display: flex;
  flex: 1 1 auto;
  width: 50%;
  padding: 1%;
  background-color: #b7f0f3;
}

.FC2_2 {
  display:flex;
  flex:50%;
  width: 50%;
 margin-block-end:10px ;
}

.text-center {
  font-size: 500%;
  color: rgb(0, 0, 0);
  text-shadow: 3px 3px 2px rgb(255, 255, 255);
}
.text-sm-start {
  text-align: center;
  color: white;
  font-size: 100%;
}
.p-3 {
  width: 100%;
  text-align: center;
  font-size: 150%;
  color: rgb(35, 31, 31);
  text-shadow: 2px 2px 2px#fff;
}
.t-3 {
  z-index: 100;
  width: 100%;
}
.text-start2 {
  width: 100%;
  text-align: center;
  font-size: 100%;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px black;
}

.text-md-start {
  color: white;
}

.login-container {
  display: flex;
  padding: 20px;
  width: 650px;
  height: auto;
  background: #fff;
  box-shadow: 6px 20px 10px rgb(82, 82, 82);
}

.register,
.login {
  flex: 1;
}

.register {
  padding: 40px;
  position: relative;
}

.register h2 {
  color: #797979;
  margin-bottom: 30px;
}

.register input {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  margin-bottom: 25px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom: 1px solid #a8a8a8;
  color: #333;
}
.login input {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  margin-bottom: 25px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom: 1px solid #a8a8a8;
  color: #333;
}

.login input:active,
.login input:focus {
  outline: none;
}
.register input:active,
.register input:focus {
  outline: none;
}

.register .submit {
  width: auto;
  padding: 10px;
  background: #f17108;
  color: #fff;
  font-size: 12px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.register::after {
  content: "A";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 50%;
  right: -13px;
  padding: 0px;
  text-align: center;
  font-size: 19px;
  background: #f1f1f1;
  border-radius: 50%;
  transform: translateY(-50%);
  box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, 0.2);
  color: #7c7c7c;
}

.login {
  background-image: linear-gradient(to bottom right, #99f8d4, #0c00b6);
  padding: 40px;
}

.login h2 {
  color: #fff;
  margin-bottom: 45px;
}

.login button i {
  position: absolute;
  top: 12px;
  left: 12px;
}

.login button {
  width: 100%;
  margin: 15px 0px;
  padding: 10px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: relative;
}

.login .fb {
  background: #3b5999;
  border-style: none;
  color: #fff;
  position: relative;
  box-shadow: 2px 4px 10px rgb(0, 0, 0);
}

.H-1 {
  display: flex;
}

.flx2{
  width: 50%;
}

@media only screen and (max-width: 800px) {
    .login-container {
      display: block;
      width: auto;
    }
  
    .register,
    .login {
      flex: none;
    }
  
    .register::after {
      top: unset;
      bottom: -25px;
      left: 50%;
      transform: translateX(-50%) rotate(90deg);
    }

    .H-1 {
      display: block;
    }
    .flx2{
      width: 100%;
    }
      
    .FC2 {
      display: block;
    }
    
  }

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

@media screen and (max-width: 1000px) {
  .p-3 {
    width: 100%;
  }
  .text-start2 {
    width: 100%;
  }
  .container {
    width: 100%;
  }

  .FC1 {
    display: block;
  
  
  }
  
}
.fw-semibold {
font-size: large;
color: black;
position: relative;
text-shadow: 2px 4px 6px rgb(238, 228, 228);
}


.tcolor {
  font-family: cursive;
  color: black;
  text-shadow: 5px 8px 10px rgb(240, 127, 213);
}

.video{
  width: auto;
}

.container{

  background: url(../img/fondo.jpg) ;
  background-size: cover;
  background-attachment: fixed ;


}
.map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  align-items: center;
  
}
.map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:80%;
  position:absolute;
  
}
.ab2 {
  font-family: cursive;
  font-size: 30px;
  color: black;
  text-shadow: 5px 8px 10px #d5dcf7;
}

.container2 {
  display: block;
  padding: 20px;
  width: 100%;
  height: auto;
  background: rgb(170, 198, 245);
  box-shadow: 6px 20px 10px rgb(82, 82, 82);
}

.container3 {
  display: block;
  padding: 20px;
  width: 100%;
  height: auto;
  background: rgb(215, 238, 197);
  box-shadow: 6px 20px 10px rgb(82, 82, 82);
}
.txt4
{
  font-style: italic;
  color: rgb(232, 236, 167);
  font-family: cursive;
  font-size:50px;
  text-shadow: 4px 2px 5px rgb(12, 202, 113);
}


