{% extends 'layout.html' %}
{% block head %}
<title>Recuperar contraseña</title>
{% endblock head %}
    
{% block main %}

<div class="row mt-5 pt-3">
  <div class="col-md-8 offset-md-2">
    <div class="card my-3 shadow">
      <div class="card-body">
        <h4>Restablecer contraseña</h4>
        <hr />
        <div class="alert alert-info">
          Ingrese el correo electrónico y se enviará un correo con instrucciones
          para restablecer la contraseña
        </div>
        <form method="POST">
          {% csrf_token %}
          <label for="id_email" class="control-label requiredField p-1">
            Correo electrónico
          </label>
          <div class="controls p-2">
            <input
              type="email"
              name="email"
              autocomplete="email"
              maxlength="254"
              class="emailinput"
              required=""
              id="id_email"
            />
          </div>
          <input
            class="btn btn-primary btn-block m-1"
            type="submit"
            value="Restablecer contraseña"
          />
        </form>
        <hr />
      </div>
    </div>
  </div>
</div>

{% endblock %}
