{% extends 'layout.html' %}
{% block head %}
<title>Recuperar contraseña</title>
{% endblock head %}

{% block main %}
<div class="row mt-5 pt-3">
  <div class="col-md-8 offset-md-2">
    <div class="card my-3 shadow">
      <div class="card-body">
        <h4>Confirmación de cambio de contraseña</h4>
        <hr />
        <form method="POST">
          {% csrf_token %}
          <div id="div_id_new_password1" class="control-group">
            <label for="id_new_password1" class="control-label requiredField">
              Nueva contraseña
            </label>
            <div class="controls">
              <input
                type="password"
                name="new_password1"
                autocomplete="new-password"
                class="textinput textInput"
                required=""
                id="id_new_password1"
              />
              <p id="hint_id_new_password1" class="help-block"></p>
              <ul>
                <li>
                  Tu contraseña no puede ser similar a tu información personal.
                </li>
                <li>Tu contraseña debe contener al menos 8 caracteres.</li>
                <li>Su contraseña no debe ser una contraseña común</li>
                <li>Tu contraseña no puede estar compuesta solo de números.</li>
              </ul>
              <p></p>
            </div>
          </div>

          <div id="div_id_new_password2" class="control-group">
            <label for="id_new_password2" class="control-label requiredField">
              Confirma tu nueva contraseña
            </label>
            <div class="controls">
              <input
                type="password"
                name="new_password2"
                autocomplete="new-password"
                class="textinput textInput"
                required=""
                id="id_new_password2"
              />
            </div>
          </div>
          <input
            class="btn btn-primary btn-block my-2"
            type="submit"
            value="Establecer nueva contraseña"
          />
        </form>
        <hr />
      </div>
    </div>
  </div>
</div>
{% endblock main %}
