{% load static %}

<!DOCTYPE html>
<html lang="es">
{% include 'partials/head.html' %} 

<body class="container-fluid">

    {% include 'partials/nav.html' %}

    <main>
        {% block main %}
        
        {% endblock %}
    </main>

    {% include 'partials/footer.html' %}

    <!-- <script src="{% static 'assets/js/script.js' %}"></script> --> <!-- la ruta de la carpeta static está predefinida, sólo es completar el resto de la dirección --> 
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>