{% load static %}

<!DOCTYPE html>
<html lang="es">
{% include 'partials/head.html' %} 

<body>

    {% include 'partials/header.html' %}

    <main>
        {% include 'partials/index.html' %}
        {% block main %}
        
        {% endblock %}
    </main>

    {% include 'partials/footer.html' %}

    <!-- <script src="{% static 'assets/js/script.js' %}"></script> --> <!-- la ruta de la carpeta static está predefinida, sólo es completar el resto de la dirección --> 
    <script src="../../static/assets/js/General.js"></script>
</body>

</html>