.btn-outline-primary {
  background-color: aqua;
}

.container-fluid {
  background-color: rgb(255, 255, 255);
}

.ImagenPerros {
  position: relative;
  opacity: 0.3;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.per {
  width: 133px;
  height: 200px;
}
.FC1 {
  width: auto;
  position: relative;
  top: 0;
  display: flex;
  text-align: center;
  box-sizing: border-box;
}

.FC2 {
  width: 100%;
  display: flex;
  padding: 10px;
  position: relative;
  top: auto;
  background-color: black;
  flex: 1 1 auto;
}

h1 {
  position: relative;
  text-align: center;
}

.FC2_1 {
  display: flex;
  flex: 1 1 auto;
  width: 50%;
  padding: 1%;
}

.FC2_2 {
  display: block;
  flex: 1 1 auto;
  width: 50%;
}

.text-center {
  font-size: 500%;
  color: rgb(0, 0, 0);
  text-shadow: 3px 3px 2px rgb(255, 255, 255);
}
.text-sm-start {
  text-align: center;
  color: white;
  font-size: 100%;
}
.p-3 {
  width: 100%;
  text-align: center;
  font-size: 150%;
  color: rgb(35, 31, 31);
  text-shadow: 2px 2px 2px#fff;
}
.t-3 {
  z-index: 100;
  width: 100%;
}
.text-start2 {
  width: 100%;
  text-align: center;
  font-size: 100%;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px black;
}

.text-md-start {
  color: white;
}

.container {
  padding: 20px;
  width: 50%;
  justify-content: center;
  align-items: center;
  box-shadow: 6px 20px 10px rgb(82, 82, 82);
}

.login-container {
  display: flex;
  width: 650px;
  height: auto;
  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.register,
.login {
  flex: 1;
}

.register {
  padding: 40px;
  position: relative;
}

.register h2 {
  color: #797979;
  margin-bottom: 30px;
}

.register input {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  margin-bottom: 25px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom: 1px solid #a8a8a8;
  color: #333;
}
.login input {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  margin-bottom: 25px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom: 1px solid #a8a8a8;
  color: #333;
}

.login input:active,
.login input:focus {
  outline: none;
}
.register input:active,
.register input:focus {
  outline: none;
}

.register .submit {
  width: auto;
  padding: 10px;
  background: #f17108;
  color: #fff;
  font-size: 12px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.register::after {
  content: "A";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 50%;
  right: -13px;
  padding: 0px;
  text-align: center;
  font-size: 19px;
  background: #f1f1f1;
  border-radius: 50%;
  transform: translateY(-50%);
  box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, 0.2);
  color: #7c7c7c;
}

.login {
  background-image: linear-gradient(to bottom right, #99f8d4, #0c00b6);
  padding: 40px;
}

.login h2 {
  color: #fff;
  margin-bottom: 45px;
}

.login button i {
  position: absolute;
  top: 12px;
  left: 12px;
}

.login button {
  width: 100%;
  margin: 15px 0px;
  padding: 10px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: relative;
}

.login .fb {
  background: #3b5999;
  border-style: none;
  color: #fff;
  position: relative;
  box-shadow: 2px 4px 10px rgb(0, 0, 0);
}

@media only screen and (max-width: 800px) {
    .login-container {
      display: block;
      width: auto;
    }
  
    .register,
    .login {
      flex: none;
    }
  
    .register::after {
      top: unset;
      bottom: -25px;
      left: 50%;
      transform: translateX(-50%) rotate(90deg);
    }
  
    .FC2 {
      display: block;
    }
  }

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

@media screen and (max-width: 1000px) {
  .p-3 {
    width: 100%;
  }
  .text-start2 {
    width: 100%;
  }
  .container {
    width: 100%;
  }

  .FC1 {
    display: block;
  }
}
