<div>
    <div class="container">
        <div class="login-container">
            <div class="register">
                <h2>Registrarse</h2>
                <form action="/sign-up" method="post">
                    {% csrf_token %}
                    <input name="username" type="text" placeholder="Usuario" required>
                    <input name="email" type="text" placeholder="Correo" required>
                    <input name="password1" type="password" placeholder="Contraseña" required>
                    <input name="password2" type="password" placeholder="Confirma contraseña" required>
                    <input type="submit" class="submit" value="REGISTRARSE">
                </form>
            </div>
            <div class="login">
                <h2>Iniciar Sesión</h2>
                <div class="login-items">
                    <form action="/sign-in" method="post">
                        {% csrf_token %}
                        <input name="username" type="text" placeholder="Usuario" required>
                        <input name="password" type="password" placeholder="Contraseña" required>
                        <a href="password_reset/" class="text-sm-start">¿Olvidó su contraseña?</a>
                        <div class="form-group">
                            {% for message in messages %}
                            <div style="color: red;">
                                {{message}}
                            </div>
                            {% endfor %}
                        </div>
                        <button class="fb"><i class="fab fa-facebook-f"></i>Acceder</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>