{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% block title %}Recuperar contraseña{% endblock title %}

{% block main %}
<div class="row mt-5 pt-3">
    <div class="col-md-8 offset-md-2">
        <div class="card my-3 shadow">
            <div class="card-body">
                <h4>Recuperación de contraseña exitosa</h4>
                <hr>
                <div class="alert alert-info">
                    Tu recuperación de credenciales ha sido todo un exito. Inicia sesión con tu nueva información
                </div>
                <a href="{% url 'main:home' %}">Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock main %}
    