{% extends 'layout.html' %}
{% load static %}
{% block title %}Actualizar información{% endblock title %}

{% block main %}

<p class="text-center txt4">Actualizar Datos</p>
<div class="container3">
    
    {% if user.profile.profile_picture %}
        <img src="{{ user.profile.profile_picture.url }}" alt="{{ user.username }}">
    {% else %}
        <img src="{% static 'assets/img/default.jpg' %}" alt="{{ user.username }}">
    {% endif %}
        
    <form method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        <div class="form-group">
            <label>Cambiar foto de perfil</label>
            {{ p_form.profile_picture}}
        </div>
        <div class="form-group">
            <label>Usuario</label>
            {{ u_form.username}}
        </div>
        <div class="form-group">
            <label>Nombres</label>
            {{ u_form.first_name}}
        </div>
        <div class="form-group">
            <label>Apellidos</label>
            {{ u_form.last_name}}
        </div>
        <div class="form-group">
            <label>Género</label>
            <div class="form-control">
                {{ p_form.gender}}
            </div>
        </div>
        <div class="form-group">
            <label>Teléfono</label>
            {{ p_form.phone_number}}
        </div>
        <div class="form-group">
            <label>Contraseña</label>
            {{ u_form.password1}}
        </div>
        <div class="form-group">
            <label>Confirmar Contraseña</label>
            {{ u_form.password2}}
        </div>

        <div class="box-footer text-center">
            <br>
            <button class="btn btn-success">Guardar</button>
        </div>
    </form>
</div>

{% endblock main %}