{% extends 'layout.html' %}
{% load static %}
{% block title %}Perfil de usuario{% endblock title %}

{% block main %}
<img src="{% static 'assets/img/huella1.png' %}" class="rounded mx-auto d-block mt-3" alt="" width="40" height="35">

<h1>¡Hola {{ user.username }}!</h1>

<section class="vh-100 mt-3" style="background-color: #f4f5f7;">
  <div class="container py-5 h-100">
    <div class="ntxt" style="display: flex;">
      <div style="flex: 50%;">
        <a href="{% url 'user:update_user' %} " class="btn btn-info"  role="button" style="color: #f4f5f7; background-color: darkorchid;">Actualizar información</a>
      </div>
      <div style="flex: 50%; ">
        <a href="{% url 'places:places' %}"class="btn btn-info" role="button" style="color: #f4f5f7; background-color: darkorchid; float: right; " >Lugares Pet Friendly</a> </p>
      </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col col-md-6 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: .5rem;"> 
          <div class="row g-0">
            <div class="col-md-4 y1 text-center text-black"
              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
              {% if user.profile.profile_picture.url %}
                <img src="{{ user.profile.profile_picture.url }}" alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
              {% else %}
                <img src="{% static 'assets/img/default.jpg' %}" alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
              {% endif %}
              <h5>{{ user.first_name }}</h5>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h6>Información</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Correo Electrónico</h6>
                    <p class="text-muted">{{ user.email }}</p>
                  </div>
                  {% if user.profile.phone_number %}
                  <div class="col-6 mb-3">
                    <h6>Teléfono</h6>
                    <p class="text-muted">{{ user.profile.phone_number }}</p>
                  </div>
                  {% endif %}
                  {% if user.first_name %}
                  <div class="col-6 mb-3">
                    <h6>Nombre</h6>
                    <p class="text-muted">{{ user.first_name }}</p>
                  </div>
                  {% endif %}
                  {% if user.last_name %}
                  <div class="col-6 mb-3">
                    <h6>Apellido</h6>
                    <p class="text-muted">{{ user.last_name }}</p>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    {% if user.is_staff %}
      <br>{% include 'main/user_review.html' %}
    {% elif not user.profile.is_editor %}
      <br><h3 style="text-align: center;">Verifica tu correo y actualiza tus datos para poder dejar una reseña</h3>
    {% elif not user.first_name %}
      <br><h3 style="text-align: center;">Actualiza tus datos para poder dejar una reseña</h3>
    {% elif user.profile.has_many_comments %}
      <br><h3 style="text-align: center;">Gracias por tus comentarios</h3>
    {% else %}
      <br>{% include 'main/user_review.html' %}
    {% endif %}

</section>

{% endblock main %}