{% load static %}
<form method="post">
  {% csrf_token %}
  <div class="card w-100">
    <div class="row">
      <div class="col">
        <div class="comment-box ml-2">
          <h4>Añade una reseña</h4>
          <div class="comment-area">{{ form.review_text }}</div>
          <div class="comment-btns mt-2">
            <div class="row">
              <div class="col-6 send" style="text-align: right">
                <div class="pull-right">
                  <button type="submit" class="btn btn-success send btn-sm">
                    Enviar <i class="fa fa-long-arrow-right ml-1"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
