{% load static %}
<div class="container2">
    <form method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        <!-- Photo -->
        <div class="form-group">
            <label>Foto</label><br>
            {% if edit %}
                {% if place.photo %}
                    <img src="{{ place.photo.url }}" class="card-img-top" alt="{{ place.name }}">
                {% else %}
                    <img src="{% static 'assets/img/perro1.jpeg' %}" class="card-img-top" alt="{{ place.name }}">
                {% endif %}
            {% endif %}
            {{ form.photo}}
        </div>
        <div class="form-group">
            <label>Lugar</label>
            {{ form.name}}
        </div>
        <div class="form-group">
            <label>Dirección</label>
            {{ form.direction}}
        </div>
        <div class="form-group">
            <label>Fecha de visita</label>
            <div class="form-group"></div>
            {{ form.visit_date}}
        </div>
        <div class="box-footer text-center">
            <br>
            <button class="btn btn-success">Agregar</button>
        </div>
    </form>
</div>