{% extends 'layout.html' %}
{% load static %}
{% block title %}Lugares{% endblock title %}
{% block main %}

<p class="text-center mtx">Sitios que puedes visitar con tu peludito</p>
<br>
<br>
<div class="container7">

  <div class="row row-cols-1 row-cols-md-3 g-4" style="align-content: center;">
    {% for place in places %}
    <div class="col">
      <div class="card h-100">
        <img src="/media/{{ place.photo }}" class="card-img-top" alt="...">
        <div class="card-body" style="background-color:rgb(232, 226, 234);">
          <h5 class="card-title" style="color: rgb(31, 31, 186) ; text-align: center;">{{ place.name }}</h5>
          <p class="card-text1" style="font-family:cursive; font-size: medium;">Dirección: {{ place.direction }}</p>
          <p class="card-text2" style="font-family:cursive; font-size: medium;">Teléfono: {{ place.phone_number }}</p>
          <p class="card-text2" style="font-family:cursive; font-size: medium;">Horario de Atención: {{ place.opening_hours }}</p>
          <a href="{% url 'places:detail' place.id %}"
            class="btn btn-warning">Más información</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <br>
  <br>
  
  {% if user.profile.phone_number %}
  <div class="container2">
    <form method="post" enctype='multipart/form-data'>
      {% csrf_token %}
      <div class="form-group">
        <label>Logo</label>
        {{ form.logo}}
      </div>
      <div class="form-group">
        <label>Foto</label>
        {{ form.photo}}
      </div>
      <div class="form-group">
        <label>Lugar</label>
        {{ form.name}}
      </div>
      <div class="form-group">
        <label>Dirección</label>
        {{ form.direction}}
      </div>
      <div class="form-group">
        <label>Teléfono</label>
        {{ form.phone_number}}
      </div>
      <div class="form-group">
        <label>Horario de atención</label>
        {{ form.opening_hours}}
      </div>
      <div class="form-group">
        <label>Fecha de visita</label>
        <div class="form-group"></div>
        {{ form.visit_date}}
      </div>
      <div class="box-footer text-center">
        <br>
        <button class="btn btn-success">Guardar</button>
      </div>
    </form>
  </div>
  {% else %}
  <h4>Actualiza tu información para poder agregar un lugar</h4>
  {% endif %}

  {% endblock main %}