{% extends 'layout.html' %}
{% load static %}
{% block title %}Lugares{% endblock title %}
{% block main %}

<p class="text-center mtx m-4">Sitios que puedes visitar con tu peludito</p>

<div class="row row-cols-1 row-cols-md-3 g-4 mb-5 p-2">
  {% for place in places %}
  <div class="col">
    <div class="card h-100 w-100">
      {% if place.photo %}
      <img
        src="{{ place.photo.url }}"
        class="card-img-top"
        alt="{{ place.name }}"
      />
      {% else %}
      <img
        src="{% static 'assets/img/perro1.jpeg' %}"
        class="card-img-top"
        alt="{{ place.name }}"
      />
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ place.name }}</h5>
        <p class="card-text text-center">{{ place.direction }}</p>
        <div class="card-button">
          <a href="{% url 'places:detail' place.id %}" class="btn btn-warning"
            >Más información</a
          >
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<!-- Button -->
{% if not user.id %}
<div class="m-5 p-5">
  <h3 class="align-center">
    Regístrate o inicia sesión <a href="{% url 'main:home' %}">aquí</a> para
    tener acceso a todos los lugares
  </h3>
  {% elif not user.profile.is_editor %}
  <h3 class="align-center">
    Revisa la bandeja de entrada de tu correo electrónico y actualiza tus datos
    para poder agregar lugares
  </h3>
  {% elif not user.first_name %}
  <h3 class="align-center">Actualiza tus datos para poder agregar lugares</h3>
</div>
{% else %}
<div class="text-align-right mx-2">
  <a href="{% url 'places:add' %}" class="btn btn-primary">Agregar Lugar</a>
</div>
{% endif %} {% endblock main %}
