{% extends 'layout.html' %}
{% load static %}
{% block title %}Lugares{% endblock title %}
{% block link %}{% static 'assets/css/places.css' %}{% endblock link %}
{% block main %}

<p class="text-center mtx">Sitios que puedes visitar con tu peludito</p>
<br>
<br>
<div class="container2">
    <form method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        <div class="form-group">
            <label>Logo</label>
            {{ form.place_logo}}
        </div>
        <div class="form-group">
            <label>Foto</label>
            {{ form.place_photo}}
        </div>
        <div class="form-group">
            <label>Lugar</label>
            {{ form.place_name}}
        </div>
        <div class="form-group">
            <label>Dirección</label>
            {{ form.place_direction}}
        </div>
        <div class="form-group">
            <label>Teléfono</label>
            {{ form.place_phone_number}}
        </div>
        <div class="form-group">
            <label>Horario de atención</label>
            {{ form.place_opening_hours}}
        </div>
        <div class="form-group">
            <label>Fecha de visita</label>
            <div class="form-group"></div>
            {{ form.place_visit_date}}
        </div>
        <div class="box-footer text-center">
            <br>
            <button class="btn btn-success">Guardar</button>
        </div>
    </form>
</div>

{% endblock main %}